/*transform: rotate(0.5turn);
*/

aside.app-sidebar {
    position: fixed;
    height: 100%;
    padding: 32px 24px;
    background: linear-gradient(329.54deg,#a5dfdf 0%, #5ad4d4 100%);
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  aside.app-sidebar img{
    width: 48px;
  }
  
  aside.app-sidebar footer a,
  aside.app-sidebar footer button {
    width: 48px;
    height: 48px;
  
    border: 0;
  
    background: #ffd666;
    border-radius: 16px;
  
    cursor: pointer;
  
    transition: background-color 0.2s;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  aside.app-sidebar footer a:hover,
  aside.app-sidebar footer button:hover {
    background: #e03493;
  }

#arrow{
    transform: rotate(0.5turn);
    width: 20px;
}